@charset "utf-8";

/* Reset */
* {
	margin: 0;
	padding: 0;
}

html {
	display: flex;

	margin: auto;
	padding: auto;
	/* background-image: url("../SOAP_PICS/HTML_PICS/background.jpeg"); */
	background-position: center;
}
body {
	margin: auto;

	background-size: cover;
}

img#banner {
	display: block;
	position: relative;
	max-width: 100%;
	min-width: 100%;
}

/* Navigation */
ul.horizontal-mainmenu {
	background-color: rgba(73, 58, 49, 0.8);
	display: block;
}

/* Flex Containers */
.flexContainerBody0,
.flex-container-body-01,
.flexContainerBody-BarSoap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: auto;
	padding: 0;
	padding: none;
}

/* Header */
body > header > a > img {
	display: block;
	width: 100%;
	margin: auto;
}

/* About Us */
.genericText1 > h1,
.genericText1 > p {
	text-align: center;
}

/* Media Queries */
@media only screen and (min-width: 481px) {
	ul.horizontal-mainmenu > li {
		position: relative;
		width: 20%;
	}
}
